@import "tailwindcss";




/* <div style={{ position: "relative", display: "inline-block", marginBottom: "1rem" }}>
        <span style={{ fontSize: "2rem" }}>🛒</span>
        <span
          style={{
            position: "absolute",
            top: "-8px",
            right: "-10px",
            backgroundColor: "red",
            color: "white",
            borderRadius: "50%",
            padding: "2px 8px",
            fontSize: "0.8rem",
            fontWeight: "bold",
          }}
        >
          {totalItems}
        </span>
      </div> */


.icon{
  position: relative;

  .badge{
    position: absolute;
    background-color: rgb(155, 155, 207);
    width:  30px;
    height: 30px;
    font-size: 1.2rem;
    color: white;
    font-weight: bolder;
    border-radius: 25px;
    display: grid;
    place-items: center;
    top: -35%;
    right: -50%;
    z-index: 12;
  }
}